.top
{
    padding-top: .75rem;
    padding-bottom: .75rem;
    min-height: 4rem;
    background-color : rgb(172, 33, 84);
}

body
{
}

p.text
{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
 font-size: 150%;
}

.logo{
  width: 75px;
  padding-left: 20px;
  padding-top: 7px;
}

.shadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.carousel {

  height: 500px;
}

.chalenge, .tips{
  height: 200px;
}

.red-border {
  border: 2px solid red;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.imc-container {
  margin-top: 15%;
}

.imc-result {
  font-size: 110px;
  color: gray;
}

.imc-info {
  font-size: 20px;
  color: gray;
}

.text-align-center {
  text-align: center;
}

/* Disabling arrows of number input */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Gabriela amorzinho */
.heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}
.col-sm-5.col-md-5.mt-5.mr-5.imc-box{
  background-color: pink;
  height: 462px;
  padding-right: 0px;
    padding-left: 0px;
}
.imc-titulo{
  background-color: #00ACC1;
  color: white;
  padding: 13px 16px 8px;
  /* border-top-right-radius: 8px; */
  /* border-top-left-radius: 8px; */
  font-family: arial,sans-serif;
}
.imc-subtitulo{
  font-size: 14px;
    padding-bottom: 8px;
    opacity: 0.7;
}
.col-md-5.imc-form{
      /* padding: 25px 0px 20px 100px; */
    /* float: right; */
    /* align-content: center; */
    margin-left: 100px;
    margin-top: 20px; 
}
.form-group.imc-form{
  margin-bottom: 50px;
  margin-left: 200px;
  margin-top: 70px;
}


.Y7XScc {
  display: inline-block;
  position: relative;
  width: 60%;
  padding: 8px 0px 28px 16px;
}

.Y7XScc {
  display: inline-block;
  position: relative;
  width: 60%;
  padding: 8px 0px 28px 16px;
}

.input-peso {
  width: 60%;
}


element.style {
}
input[type="number"] {
    -moz-appearance: textfield;
}
.Jue9g {
    width: 80%;
}

.imc-input {
  border: 1px solid #D9D9D9;
  border-top: 1px solid silver;
  font-size: 12px;
  font-family: arial,sans-serif;
  height: 30px;
  padding: 1px 4px;
  text-align: center;
  border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
.byTLfd {
  opacity: 0.87;
  vertical-align: unset;
  font-size: 12px;
}

.imc-label{
  margin-bottom: 8px;
}

.imc-calculo-buttom{
  padding-left: 42%;
}

.btn.btn-success.ajuda
{
float: right;
margin-right: 35px;
}
.div-desafios{
  border: 2px solid black;
}